body {
  background-color: lightblue;
}

h1.index {
  color: blue;
  text-align: center;
}

h1 {
  color: blue;
}
img {
  margin-left: 650px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: gray;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

li a:hover {
    background-color: blue;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    width: 50%;
}
th, td {
    padding: 5px;
    text-align: left;
  }
